# ignore everything in root
/*
# except the content directory
!wp-content/
!.gitignore
!.gitmodules
!README.md
!LICENSE
!update_repos.sh
!update_web_root.sh

# ignore everything in the wp-content directory
wp-content/*
# except these
!wp-content/mu-plugins/
!wp-content/themes/sparc-theme
# ignore all the builtin themes
wp-content/themes/twenty*

!wp-content/plugins
# ignore all plugins
wp-content/plugins/*
# except these
!wp-content/plugins/active-directory-integration
!wp-content/plugins/advanced-custom-fields
#!wp-content/plugins/akismet
!wp-content/plugins/posts-to-posts
!wp-content/plugins/raw-html
!wp-content/plugins/timber-library

# ignore these files
*.log
.*
