# ignore everything in root
/*
# except the content directory
!wp-content/

# ignore everything in the wp-content directory
wp-content/*
# except these
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore all the builtin themes
wp-content/themes/twenty*

# ignore these files
*.log
.*
.htaccess
sitemap.xml
sitemap.xml.gz
